<div id="container-login" class="container">
    <form [formGroup]="miFormulario" (ngSubmit)="login()">
        <!-- <form > -->
        <div class="encabezado-form">
            Iniciar sesión
        </div>
        <!-- EMAIL  -->
        <div>
            <span class="label-form">Email </span>
            <!-- <input type="text" id="email-login" class="fadeIn second" name="email" formControlName="email"
            placeholder="Ingrese su correo electronico"> -->
            <input type="email" id="email-login" class="fadeIn second" name="email" formControlName="email"
                placeholder="Ingrese su correo electronico">
        </div>
        <!-- CONTRASEÑA -->
        <div>
            <span class="label-form">Contraseña </span>
            <input type="password" id="password-login" class="fadeIn third" name="password" formControlName="password"
                placeholder="Ingrese su contraseña">
        </div>
        <!-- BOTON INICIAR  -->
        <!-- <input type="submit" class="fadeIn fourth" value="Iniciar"> -->
        <!-- Le ponemos el disabled si no es el formulario valido -->
        <button  type="submit" class="btn btn-primary btn-form" [disabled]="miFormulario.invalid">Entrar</button>
        <!-- Registrarse -->
        <div id="formFooter">
            <span>¿No tienes cuenta? </span>
            <br />
            <a routerLink="/auth/registro" class="underlineHover" href="#">Registrarse</a>
        </div>
    </form>
</div>