<div id="container-registro" class="container">
    <form [formGroup]="miFormulario" (ngSubmit)="registro()">
        <!-- <form > -->
        <div class="encabezado-form">
            Nuevo usuario
        </div>
        <!-- NOMBRE -->
        <div>
            <span class="label-form">Nombre </span>
            <input type="text" id="name-register" class="fadeIn third" name="name" formControlName="name"
                placeholder="Ingrese su nombre">
        </div>
        <!-- APELLIDO -->
        <!-- <div>
            <span class="label-form">Apellido </span>
            <input type="text" id="surname-register" class="fadeIn third" name="surname" formControlName="surname"
                placeholder="Ingrese su apellido">
        </div> -->
        <!-- EMAIL  -->
        <div>
            <span class="label-form">Email </span>
            <!-- <input type="text" id="email-login" class="fadeIn second" name="email" formControlName="email"
            placeholder="Ingrese su correo electronico"> -->
            <input type="email" id="email-login" class="fadeIn second" name="email" formControlName="email"
                placeholder="Ingrese su correo electronico">
        </div>
        <!-- CONTRASENNIA -->
        <div>
            <span class="label-form">Contraseña </span>
            <input type="password" id="password-login" class="fadeIn third" name="password" formControlName="password"
                placeholder="Ingrese su contraseña">
        </div>
        <!-- BOTON INICIAR  -->
        <!-- BOTON INICIAR  -->
        <button type="submit" class="btn btn-primary btn-form" [disabled]="miFormulario.invalid">Registrarse</button>
        <!-- Registrarse -->
        <div id="formFooter">
            <span>¿Ya tienes cuenta? </span>
            <br />
            <a routerLink="/auth/login" class="underlineHover" href="#">Iniciar sesión</a>
        </div>
    </form>
</div>